@keyframes ldio-bafx12tx7f {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-bafx12tx7f div {
  left: 130.19px;
  top: 66.48px;
  position: absolute;
  animation: ldio-bafx12tx7f linear 0.6097560975609756s infinite;
  background: #3e6d8d;
  width: 16.62px;
  height: 33.24px;
  border-radius: 8.31px / 16.62px;
  transform-origin: 8.31px 72.02px;
}
.ldio-bafx12tx7f div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.5589430894308943s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.508130081300813s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.4573170731707317s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.4065040650406504s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.3556910569105691s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.3048780487804878s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.2540650406504065s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.2032520325203252s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.1524390243902439s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1016260162601626s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.0508130081300813s;
  background: #3e6d8d;
}
.ldio-bafx12tx7f div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #3e6d8d;
}
.loadingio-spinner-spinner-0bavv8o7ojyj {
  width: 277px;
  height: 277px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-bafx12tx7f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-bafx12tx7f div {
  box-sizing: content-box;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
