.favorites {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.favorites-button {
  display: block;
  margin: 50px auto;
  padding: 15px 25px;
  background-color: rgb(33, 189, 33);
  border-radius: 8px;
  font-size: 24px;
}
.favorites-button:hover {
  opacity: 0.8;
}
.favorites-plug {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  font-size: 42px;
  font-weight: 700;
  color: rgb(204, 204, 204);
}

.delete-from-list{
padding: 4px;
margin: auto;
width: 90%;
border-radius: 5px 5px 0px 0px;
background-color: rgb(129, 125, 125);
font-size: 24px;
}