.categories {
  margin-bottom: 1.5em;
  font-weight: 500;
  font-size: 22px;
}
.genres {
  display: "flex";
  flex-direction: "column";
  font-size: 20px;
  line-height: 2em;
}

.genre-filter {
  position: relative;
  padding: 0 0.5em;
  color: black;
}

.genre-filter:before {
  content: "";
  position: absolute;
  top: 0;
  left: -300%;
  width: 200%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(
    to right,
    rgb(235, 235, 235) 0%,
    rgb(235, 235, 235) 50%,
    white 50%,
    white 100%
  );
  border-radius: 10px;
  transition: opacity 0.4s ease-out;
  transition: left 0.4s ease-out;
}
.genre-filter:hover:before {
  left: 0;
  opacity: 1;
}

.booklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.booklist-container{
  padding:0 5%;
}
.booklist-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.booklist-count {
  align-self: center;
}

.react-select-container {
  width: 400px;
  border: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .booklist-header {
    flex-direction: column;
    justify-content: center;
  }
}
