.home-page {
  font-size: 24px;
  color: rgb(241, 231, 78);
}
.home-page:hover {
  color: #5c99e9;
}
.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 20px 0px;
  width: 100%;
  background-color: #5dc8e9;

  font-size: 20px;
  font-weight: 500;
}
.menu-icons {
  display: flex;
  justify-self: end;
  align-items: center;
  font-size: 24px;
}
.menu-create {
  color: black;
  transition-duration: 0.8s;
  transition-property: transform;
}

.menu-create:hover .menu-create-icon {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.menu-create-icon {
  margin-right: 5px;
  transition-duration: 0.8s;
  transition-property: transform;
}
.menu-profile {
  margin: 0 25px;
  font-size: 30px;
  color: white;
}
.menu-profile:hover {
  color: #5c99e9;
}

.menu-favorites {
  color: red;
}
.menu-favorites:hover {
  color: #5c99e9;
}

.menu-shoplist {
  margin: 0 25px;
  color: #7618f1;
}
.menu-shoplist:hover {
  color: #5c99e9;
}
.menu-sign-out {
  margin-left: 25px;
  color: #ffb160;
}
.menu-sign-out:hover {
  color: #5c99e9;
}
